<h4>Recent games</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        {{#each History}}
            <tr>

                {{#if this.IsWon}}
                    <td><i class="icon-plus-sign"></i></td>
                {{else}}
                    <td><i class="icon-minus-sign"></i></td>
                {{/if}}

                <td>{{this.MyTeam}} vs. {{this.OpposingTeam}}</td>
                <td>{{this.FinalScore}}</td>
                <td>
                    <a href="#compare/{{this.OpposingPlayer}}">compare stats with {{this.OpposingPlayer}}</a>
                </td>
            </tr>
        {{/each}}

    </tbody>
</table>
