<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PEWDbContext" connectionString="Data Source=|DataDirectory|DB.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="RavenDb" connectionString="Url=http://db.pew.nu;database=PEW" />
  </connectionStrings>

  <appSettings>
    <add key="StatsServiceUri" value="http://www.easports.com/services/statscentral/getdata?platformTag=hockey-{1}-{2}&amp;mode=versus&amp;handle={0}" />
    <add key="HistoryServiceUri" value="http://www.easports.com/services/matchResults/getdata?platformTag=hockey-{2}-{3}&amp;size={0}&amp;handle={1}" />
    <add key="LeaderBoardServiceUri" value="http://www.easports.com/services/rankedleaderboard/getdata?platformTag=hockey-{1}-{3}&amp;mode=online&amp;period=overall&amp;rowsNumber={2}&amp;handle={0}&amp;platform={3}&amp;view=widget" />
    <!--http://www.easports.com/services/rankedleaderboard/getdata?platformTag=hockey-{1}-PS3&amp;mode=online&amp;period=overall&amp;rowsNumber={2}&amp;handle={0}&amp;platform=PS3&view=widget-->
    <add key="DefaultConsoleUser" value="mr_nuno" />
    <add key="DefaultGame" value="nhl-12" />
    <add key="DefaultPlatform" value="PS3" />
    <add key="DefaultHistoryCount" value="15" />
    <!--http://www.easports.com/services/statscentral/getdata?platformTag=hockey-nhl-12-PS3&mode=versus&handle=mr_nuno -->
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NUnit" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.9.10348" newVersion="2.6.2.12296" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>