<h4>Statistics</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <!-- ko foreach: Stats -->
            <th>
                <span data-bind="text: GamerTag"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Skill</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: Level"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Total points</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: TotalPoints"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Wins</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}%)'.format(Wins, WinPercent)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Losses</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}%)'.format(Losses, LossPercent)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        
        <tr>
            <td>Overtime losses</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}%)'.format(OvertimeLosses, OvertimeLossPercent)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Current streak</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: CurrentStreak"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Disqualified</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}%)'.format(NumberOfGamesForfeited, DidNotFinish)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Goals for</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}/game)'.format(TotalGoalsFor, AverageGoalsFor)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Goals against</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}/game)'.format(TotalGoalsAgainst, AverageGoalsAgainst)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Hits</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}/game)'.format(TotalNumberOfHits, AverageNumberOfHits)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Penalty minutes</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} ({1}/game)'.format(PenaltyMinutes, AveragePenaltyMinutes)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Power play</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0}%'.format(PowerPlayPercent)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Penalty kill</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0}%'.format(PenaltyKillPecentage)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>One timers</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0} on {1} shots ({2}%)'.format(OneTimerGoals, OneTimerTotalShots, OneTimerPercentage)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Passing</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0}%'.format(PassingPecentage)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>
        <tr>
            <td>Faceoffs</td>
            <!-- ko foreach: Stats -->
            <td>
                <span data-bind="text: '{0}%'.format(FaceOffPercentage)"></span>
                <span class="badge badge-important" style="display:none;">&nbsp;</span>
            </td>
            <!-- /ko -->
        </tr>

    </tbody>
</table>
