<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings><add name="TCTContainer" connectionString="metadata=res://*/TCT.csdl|res://*/TCT.ssdl|res://*/TCT.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=TCT;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>