<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<rule name="Rewrite to folder1" stopProcessing="true">
					<match url="(.*)" />
						<conditions>
							<add input="{HTTP_HOST}" pattern="^www.pew.nu$" />
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						</conditions>
					<action type="Rewrite" url="site/{R:1}" />
				</rule>
				<rule name="Rewrite to folder2" stopProcessing="true">
					<match url="(.*)" />
						<conditions>
							<add input="{HTTP_HOST}" pattern="^cms.pew.nu$" />
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						</conditions>
					<action type="Rewrite" url="cms/{R:1}" />
				</rule>
				<rule name="Rewrite to folder3" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^old.pew.nu$" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="old/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>