<form class="well">
    <label>Gamertag</label>
    <input id="gamertag" type="text" class="span3" placeholder="Write your gamertag." value="{{attributes.gamerTag}}">
    <label>Game</label>
    <select id="game">
        <option selected="selected" value="nhl-12">NHL12</option>
        <option value="nhl-11">NHL11</option> 
    </select>
    <label>Platform</label>
    <select id="platform">
        <option value="PS3">PS3</option>
    </select><br/>
    <button id="fetch" type="button" class="btn btn-primary">Fetch</button>
</form>